@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300&family=Poppins:wght@200;300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
}
a{
  text-decoration: none;
  color: inherit;
}